<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md" color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{movie.movie_name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <div class="video_div">
            <video width="100%" height="240" controls poster="assets/imgs/news/news1.jpg">
                <source src="assets/imgs/news/video.mp4" type="video/mp4">
            </video>
        </div>

        <div class="cont_div">
            <div class="flex_div">
              <div class="back_image bg_image" [style.backgroundImage]="'url(assets/imgs/news/news1.jpg)'"></div>
              <div class="content_div">
                <ion-label class="title_lbl">{{movie.movie_name}}</ion-label>
                <ion-label class="light_lbl">{{movie.genres}}</ion-label>
                <ion-label class="light_lbl">2010</ion-label>
              </div>
            </div>

            <ion-label class="detail_lbl">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </ion-label>
            <ion-label class="see_more">See More</ion-label>

            <ion-label class="gray_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting</ion-label>

            <ion-grid fixed>
              <ion-row>
                <ion-col size="4">
                  <ion-button expand="block" size="small">
                    <ion-icon slot="start" name="arrow-down-sharp"></ion-icon>
                    Download
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button expand="block" size="small">
                    <ion-icon slot="start" name="add-sharp"></ion-icon>
                    Watchlist
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button expand="block" size="small">
                    <ion-icon slot="start" name="arrow-redo-sharp"></ion-icon>
                    Share
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-label class="head_lbl">Trailers</ion-label>

            <div class="flex_div2">
                <div class="back_image4 bg_image" [style.backgroundImage]="'url(assets/imgs/news/news3.jpg)'"></div>
                <div class="play_div">
                    <ion-icon name="caret-forward-outline" class="play"></ion-icon>
                    <ion-label class="name">Watch Trailer</ion-label>
                </div>
            </div>

            <!-- <ion-label class="head_lbl" (click)="goTovideoList('You may also like')">You may also like 
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-label>
            <ion-slides mode="ios" [options]="slideOpts">
                <ion-slide *ngFor="let item of images">
                    <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'"></div>
                </ion-slide>
            </ion-slides> -->
        </div>
    </div>

<!-- Movie info -->
    <div class="movie_info">
      <div class="movie_info__movie-hero bg_image" [style.backgroundImage]="'url('+movie.movie_poster+')'">
        <ion-label class="movie_info__title">{{movie.movie_name}}</ion-label>
        <div class="movie_info__date_time">
          <ion-label class="movie_info__date">Date Released:</ion-label>
          <ion-label class="movie_info__time">{{movie.api_data.release_date}}</ion-label>
        </div>
      </div>

      <div class="movie_info__about-movie">
        <div class="movie_info__ratings-run">
          <div class="ratings">
            <!-- ImDb -->
            <div class="movie_info__movie-ratings">
              <img src="../../../assets/icon/imdb-badge.png">
              <ion-label class="">{{movie.api_data.vote_average}}</ion-label>
              <span class="material-icons-outlined">
                star
              </span>
            </div>
            <!-- Rotten Tomato -->
            <div class="movie_info__movie-ratings">
              <img src="../../../assets/icon/rotten-tomatoes.png">
              <ion-label class="">{{movie.rotten_tomatoes}}</ion-label>
            </div>
          </div>
          <div class="runtime">
            <span class="material-icons-outlined">
              schedule
            </span>
            <ion-label class="">{{movie.api_data.runtime}} Mins</ion-label> 
          </div>
        </div>
        <div class="movie_info__genres">
          <ion-label class="">{{movie.genres}}</ion-label> 
        </div>
        <div class="movie_info__description">
          <ion-label class="movie_info__title">Description</ion-label>
          <ion-label class="movie_info__synopsis">{{movie.synopsis}}</ion-label>
        </div>
        <div class="movie_info__CTAs">
          <button class="buy_ticket movies_btn">Buy Ticket</button>
          <span class="material-icons-outlined">
            share
          </span>
        </div>
      </div>
<!-- Cast section start -->
      <div class="movie_info__cast">
        <ion-label class="movie_info__title">Cast</ion-label>
        <ion-slides mode="ios" [options]="slideOpts">
          <ion-slide *ngFor="let cast of movie.cast_data.cast; index as i;">
              <div class="cast-content">
                <div class="cast-imgs" >
                  <img src="{{cast.profile_path}}" alt="{{cast.name}}"/>
                </div>
                <ion-label class="cast-name">{{cast.name}}</ion-label>
                <ion-label class="cast-xter">{{cast.character}}</ion-label>
              </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
</ion-content>