<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md" color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{movie.movie_name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<!-- Movie info start-->
    <div class="movie_info">
      <div class="movie_info__movie-hero bg_image" [style.backgroundImage]="'url('+movie.movie_poster+')'">
        <ion-label class="movie_info__title">{{movie.movie_name}}</ion-label>
        <div class="movie_info__date_time">
          <ion-label class="movie_info__date">Date Released:</ion-label>
          <ion-label class="movie_info__time">{{movie.api_data.release_date}}</ion-label>
        </div>
        <a href="#" data-fancybox="true">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 484.6 471.9" style="enable-background:new 0 0 484.6 471.9;" xml:space="preserve">
            <g>
              <path d="M312.3,224.9L312.3,224.9l-102.5-66c-3.9-2.5-8.9-2.8-13.1-0.6c-4.1,2.2-6.8,6.4-7,11.1V301c0.2,4.7,2.8,8.9,7,11.1
                c4.1,2.2,9.1,1.9,13.1-0.6L312.3,246h0c3.3-2.5,5.3-6.4,5.3-10.5C317.6,231.3,315.7,227.4,312.3,224.9z"/>
              <path d="M405.4,72.9C362.1,29.6,303.5,5.3,242.3,5.3v0c-61.2,0-119.8,24.3-163.1,67.5C36,116.1,11.7,174.8,11.7,236
                c0,61.2,24.3,119.8,67.5,163.1c43.2,43.2,101.9,67.5,163.1,67.5c61.2,0,119.8-24.3,163.1-67.5c43.2-43.2,67.5-101.9,67.5-163.1
                C472.9,174.8,448.6,116.1,405.4,72.9z M375.7,369.4c-35.4,35.4-83.4,55.3-133.4,55.3c-50,0-98-19.9-133.4-55.3
                C73.5,334,53.6,286,53.6,236c0-50,19.9-98,55.3-133.4c35.4-35.4,83.4-55.3,133.4-55.3c50,0,98,19.9,133.4,55.3
                C411.1,137.9,431,185.9,431,236C431,286,411.1,334,375.7,369.4z"/>
            </g>
          </svg>
        </a>
      </div>

      <div class="movie_info__about-movie">
        <div class="movie_info__ratings-run">
          <div class="ratings">
            <!-- ImDb -->
            <div class="movie_info__movie-ratings">
              <img src="../../../assets/icon/imdb-badge.png">
              <ion-label class="">{{movie.api_data.vote_average}}</ion-label>
              <span class="material-icons-outlined">
                star
              </span>
            </div>
            <!-- Rotten Tomato -->
            <div class="movie_info__movie-ratings">
              <img src="../../../assets/icon/rotten-tomatoes.png">
              <ion-label class="">{{movie.rotten_tomatoes}}</ion-label>
            </div>
          </div>
          <div class="runtime">
            <span class="material-icons-outlined">
              schedule
            </span>
            <ion-label class="">{{movie.api_data.runtime}} Mins</ion-label> 
          </div>
        </div>
        <div class="movie_info__genres">
          <ion-label class="">{{movie.genres}}</ion-label> 
        </div>
        <div class="movie_info__description">
          <ion-label class="movie_info__title">Description</ion-label>
          <ion-label class="movie_info__synopsis">{{movie.synopsis}}</ion-label>
        </div>
        <div class="movie_info__CTAs">
          <button class="buy_ticket movies_btn">Buy Ticket</button>
          <span class="material-icons-outlined">
            share
          </span>
        </div>
      </div>
<!-- Cast section start -->
      <div class="movie_info__cast">
        <ion-label class="movie_info__title">Cast</ion-label>
        <ion-slides mode="ios" [options]="slideOpts">
          <ion-slide *ngFor="let cast of movie.cast_data.cast; index as i;">
              <div class="cast-content">
                <div class="cast-imgs" >
                  <img src="{{cast.profile_path}}" alt="{{cast.name}}"/>
                </div>
                <ion-label class="cast-name">{{cast.name}}</ion-label>
                <ion-label class="cast-xter">{{cast.character}}</ion-label>
              </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
</ion-content>