.movie_info {
  width: 100%;

  &__movie-hero {
    padding: 100px 10px 50px 10px;
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6) 100%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0.9) 0%
      );
    }

    a {
      svg {
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        fill: var(--ion-color-step-950);
        width: 40px;
        transform: translate(-50%, -100%);
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
  }

  &__date,
  &__time {
    display: block;
    font-weight: 300;
    font-size: 12px;
    position: relative;
    z-index: 2;
  }

  &__about-movie {
    width: 100%;
    transform: translateY(-25px);
    border-radius: 25px 25px 0 0;
    background-color: var(--ion-color-step-100);
    padding: 30px 10px;

    .ratings-run {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__ratings-run {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .ratings {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
    }

    .runtime {
      background-color: var(--ion-color-step-150);
      border-radius: 30px;
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;

      span.material-icons-outlined {
        font-size: 14px;
        color: var(--ion-color-step-450);
      }

      ion-label {
        font-size: 12px;
        color: var(--ion-color-step-450);
      }
    }
  }

  &__movie-ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    ion-label {
      font-size: 13px;
      font-weight: bold;
      vertical-align: bottom;
      margin: 3px 0 0 5px;
    }

    span.material-icons-outlined {
      font-size: 14px;
    }
  }

  &__genres {
    margin-top: 10px;
    font-size: 13px;
  }

  &__description {
    margin-top: 30px;

    ion-label.movie_info__title {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: bold;
    }

    ion-label.movie_info__synopsis {
      font-size: 14px;
      color: var(--ion-color-step-550);
    }
  }

  &__CTAs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;

    button {
      transform: translateY(0);
      margin-bottom: 0;
    }

    span.material-icons-outlined {
      padding: 5px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      color: var(--ion-color-step-550);
      background-color: var(--ion-color-step-150);
      border: 1px solid var(--ion-color-step-250);
      width: 33px;
      height: 33px;
      border-radius: 50%;
      font-size: 16px;
      display: grid;
      place-items: center;
    }
  }

  &__cast {
    padding: 0 10px 30px 10px;

    ion-label.movie_info__title {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: bold;
    }

    ion-slide {
      margin-right: 7px;
    }

    .cast-content {
      width: 100%;
      max-width: 100%;

      ion-label {
        display: block;
      }

      .cast-name {
        font-size: 13px;
        font-weight: bold;
        color: var(--ion-color-step-600);
        margin: 10px 0 5px 0;
      }

      .cast-xter {
        font-size: 13px;
        font-weight: 400;
        color: var(--ion-color-step-500);
      }
    }

    .cast-imgs {
      height: 150px;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
