<ion-header>
    <div class="header_div">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <img src="assets/imgs/KB-white-logo.svg">
        <ion-button class="search_btn" slot="end" fill="clear" size="small">
            <ion-icon slot="icon-only" name="search-outline" color="light"></ion-icon>
        </ion-button>
    </div>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <!-- Hero Slider Start -->
        <ion-slides mode="ios">
            <ion-slide *ngFor="let item of mainSlider; let i = index">
              <div class="hero_slides">
                  <ion-label>{{i+1}}/{{mainSlider?.length}}</ion-label>
                  <img src={{item}} class="main_content_div__hero_image">
                  <h3 class="main_content_div__movie_title">Venom: Let There Be Carnage</h3>
              </div>
            </ion-slide>
        </ion-slides>
        <!-- Hero Slider End -->

        <!-- Now Showing Start -->
        <ion-label class="head_lbl" (click)="goTovideoList('Top picks for you')">Now Showing <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        <ion-slides mode="ios" [options]="slideOpts">
            <ion-slide *ngFor="let featured of featuredMovies" (click)="goToVideo()">
                <div class="main_content_div__top-picks-slider">
                    <div class="main_content_div__top_picks">
                        <img src={{featured.movie_poster}}>
                    </div>
                    <button class="buy_ticket movies_btn">Buy Ticket</button>
                    <h5>{{featured.movie_name}}</h5>
                    
                </div>
            </ion-slide>
        </ion-slides>
        <!-- Now Showing End -->

        <!-- Movies By Category Start -->
        <ion-label class="head_lbl" (click)="goTovideoList('Top picks for you')">Movies By Category <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        
        <ion-slides mode="ios" [options]="slideOpts2">
            <ion-slide *ngFor="let item of  (images | slice : 0: 12)"(click)="goToVideo()">
                <div class="flex_div">
                    <div class="main_content_div__category_img">
                        <div class="cat_group bg_image" [style.backgroundImage]="'url('+item.img+')'"></div>
                    </div>
                    <ion-label class="name">{{item.name}}</ion-label>
                </div>
            </ion-slide>
        </ion-slides>
        <!-- Movies By Category End -->

        <!-- Hot Events Start -->
        <ion-label class="head_lbl" (click)="goTovideoList('Live News')">Hot Events <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        
        <ion-slides mode="ios" [options]="slideOpts3">
            <ion-slide *ngFor="let item of (images | slice : 5: 14)" (click)="goToVideo()">
                <div class="card-BG">
                    <div class="back_image4 bg_image" [style.backgroundImage]="'url('+item.img+')'">
                    </div>
                    <button class="buy_ticket events_btn-lg">Buy Ticket</button>
                    <div class="card-BG__info-wrapper">
                        <ion-label class="card-BG__event_date">January 27, 2022</ion-label>
                        <div class="card-BG__location-wrapper">
                            <div class="card-BG__line"></div>
                            <ion-label class="card-BG__location">Kenya National Theater</ion-label>
                        </div>
                        <ion-label class="card-BG__event-title">{{item.name}}</ion-label>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
        <!-- Hot Events End -->
    </div>
</ion-content>