/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "regular";
  src: url(assets/fonts/ParalucentText-Book.ttf);
}
@font-face {
  font-family: "medium";
  src: url(assets/fonts/Paralucent-Medium.ttf);
}

@font-face {
  font-family: "semi-bold";
  src: url(assets/fonts/Paralucent-DemiBold.ttf);
}

@font-face {
  font-family: "bold";
  src: url(assets/fonts/Paralucent-Bold.ttf);
}

* {
  font-family: "regular";
}

ion-label {
  color: white;
}

.header_div {
  display: flex !important;
  align-items: center !important;
  height: 60px;

  img {
    width: 140px !important;
  }
  .search_btn {
    position: absolute;
    right: 0;
  }
}

.bg_image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// ===================
// BUTTON STYLES START
// ===================
.buy_ticket {
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  transform: translateY(-50%);
  color: white;
  margin-bottom: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.movies_btn {
  background-color: var(--ion-color-movies);
}

.events_btn {
  background-color: var(--ion-color-events);
}

.events_btn-lg {
  background-color: var(--ion-color-events);
  padding: 10px 35px;
}
// ===================
// BUTTON STYLES END
// ===================
